@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200&display=swap');


:root{
    --main-color: #f73471;
    --black: #000;
    --light-color: #868e96;
}

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

.header {
    background-color: #fff;
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
   
}

.logo {
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    font-weight: 700;
    margin-left: 20px;
}

.logo span {
    font-weight:700;
    color: var(--main-color);
}



.navbar {
    display: flex;
}


.navbar a {
    color: var(--main-color);
    text-decoration: none;
    padding-left: 20px;
    font-weight: 700;
    font-size: 20px;
}




.btn {
    background-color: var(--main-color);
    color: #fff;
    
    border: none;
    border-radius: 4px;
    margin-right: 1rem;
    text-decoration: none;
}

#menu-btn {
    font-size: 1.2rem;
    cursor: pointer;
    display: none;
}

/* Mobile view styles */
@media (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .navbar a {
        width: 100%;
        text-align: center;
       
    }

    .icons {
        flex-direction: column;
        color: var(--main-color);
    }

    #menu-btn {
        display: block;
    }

    .show {
        display: flex;
    }
}
/*Footer*/
*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;
  }
  
  body {
    font-family: acumin-pro, system-ui, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 14px;
    background-color: #f4f4f4;
    align-items: start;
    min-height: 100vh;
  }
  
  .footer {
    padding-top: 50px;
    display: flex;
    height: 250px;
    flex-flow: row wrap;
    color: var(--main-color);
    background-color: var(--black);
    border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
    padding-left: 30px;
   
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 2rem;
    padding-top: 40px;
    
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
      flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #999;
  }
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {

    color: #999;
    align-items: center;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }
/*Course*/
h1{
  text-align: center;
  margin-top:20px;
}

   .container{
    width: 85%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
   }
   .card{
    flex: 1 0 300px;
    height: 350px;
    background-color: var(--main-color);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease-in;
   }
   .card:hover{
    transform: scale(1.05);
   }
   .card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    text-align: center;
   }
   .card-content h1{
    margin-bottom: 10px;
    color: #fff;
   }
   .card-content p{
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff;
   }
   .card-content .card-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s ease;
   }
   .card-content .card-btn:hover{
    background-color: #246d82;
   }
   /*timetable*/
   h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
  table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  
  
  /* demo styles */
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{
    background: -webkit-linear-gradient(left, #bb20a1, #25b7c4);
    background: linear-gradient(to right, #bb20a1, #25b7c4);
    font-family: 'Roboto', sans-serif;
  }
  section{
    margin: 50px;
  }
  
  
  /* for custom scrollbar for webkit browser*/
  
  ::-webkit-scrollbar {
      width: 6px;
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }


  /*Instructor*/
  .snip1574 {
    font-family: 'Lato', Arial, sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 10px;
    min-width: 250px;
    max-width: 310px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
  
  .snip1574 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .snip1574 img {
    max-width: 100%;
    vertical-align: top;
    opacity: 0.7;
  }
  
  .snip1574 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 80px 10% 15%;
  }
  
  .snip1574 figcaption:before {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 170px;
    opacity: 0.35;
    font-style: normal;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0px;
    left: 50%;
  }
  
  .snip1574 blockquote {
    padding: 0;
    margin: 0;
    color: #fff;
    font-style: italic;
    font-size: 1.2em;
  }
  
  .snip1574 h3 {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 3px 0;
  }
  
  .snip1574 h5 {
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1px;
  }
  